<section class="p-3">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center ">
      <mat-icon class="tab-icon">recent_actors</mat-icon>
   <span > Manage Contacts</span>
    </div>
    <div class="buttons_ ">
      <us-button
        class="m-2"
        label="Add list"
        [matIcon]="'add'"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'primary'"
        (clicked)="openModal()"
      ></us-button>
      <us-button
        class="m-2"
        label="Export All"
        [matIcon]="'description'"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'primary'"
        (clicked)="test()"
      ></us-button>
    </div>

  </div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">contacts</mat-icon>
        Contacts
      </ng-template>
      <app-contacts></app-contacts>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">format_list_bulleted</mat-icon>
        Lists
      </ng-template>
      <app-lists ></app-lists>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">unsubscribe</mat-icon>
        Unsubscribed
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</section>
