<hr class="m-0" />
<div class="mx-2 mt-4 d-flex justify-content-between align-items-center">
  <div class="w-25 ">
<div class="d-flex justify-content-between ">
    <p class="me-5 mb-0">Search</p>
    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
  </div>
  <div >
    <hr class="mt-0 pt-0">
  </div>
  </div>

  <div class="d-flex p-1 align-items-center">
    <p class="mb-0 mx-2">Show</p>
    <div class="d-flex justify-content-evenly bg-white align-items-center">
      <p class="mb-0 mx-1">10</p>
      <a href="" class="mx-2">
        <i class="fa-solid fa-sort-down"></i>
      </a>
    </div>
    <p class="mb-0 mx-2">list</p>
  </div>
</div>

<div class="bg-white div-table">
  <table class="table  text-center lists-table">
    <thead class="table-head  ">
      <tr class="p-2 tr-lists">
        <td class="checkbox-index"><input type="checkbox" /></td>
        <th>Name</th>
        <th>Create At</th>
        <th>Total Contacts</th>
        <th class="option-index">option</th>
        <!-- <th>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-facebook"></i>
                    </th> -->
      </tr>

    </thead>
    <tbody class="bg-white">
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>


      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td ><a href=""> <i class=" fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between mx-4 align-items-center">
    <div class=" mb-0 my-auto p-2"> <p>showing 1-30 of lists</p> </div>
    <div class="pagination  ">
      <a href="#">
        <i class="fa-thin fa-square-left">&laquo;</i></a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#"> <i class="fa-thin fa-square-right">&raquo;</i></a>
    </div>


  </div>

</div>
