button{

  &.button-size-sm {
    width: 6rem;
    height: 2.4rem;
  }

  &.button-size-md {
    width: 8rem;
    height: 2.6rem;
  }

  &.button-size-lg {
    width: 10rem;
    height: 2.8rem;
  }

  &.no-fill{
    background: var( --clr-neutral-0);
    color:var(--clr-primary-800) !important;
    border: 1px solid var(--clr-primary-800) !important;
  }
}
