div {
  color: #292A32;
  font-size: 1.1rem;
  border-radius: 8px;
  width: 300px;
  height: 33px;
  padding: 30px;
  position: fixed;
  bottom: 30px;
  left: 260px;

  &.error {
    background: #FFEAEC;
  }

  &.warning {
    background: #FFF4D9;
  }

  &.success {
    background:#DEFFF3;
  }

}
.notification-container{
  position: relative;
}
#progress-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
