<div
  class="d-flex align-items-center "
  [ngClass]="{
    'error': state == 'error',
    'warning': state == 'warning',
    'success': state == 'success'
  }"
>
  <span class="me-3" *ngIf="state == 'error'">
    <img src="assets/icons/error.svg" alt="" />
  </span>
  <span class="me-3" *ngIf="state == 'warning'">
        <img src="assets/icons/warning.svg" alt="" />

  </span>
  <span class="me-3" *ngIf="state == 'success'">
    <img src="assets/icons/succsess.svg" alt="" />

  </span>
  {{ title }}

</div>
