/* You can add global styles to this file, and also import other style files */
body{
  background: linear-gradient(180deg, rgba(8, 131, 149, 0.04) 0%, rgba(8, 131, 149, 0.24) 100%), #FFFFFF;
  overflow: hidden;


}
a{
  text-decoration: none;
  color:#6E6E6E;
  // color:#292A32;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


