<div class="d-flex justify-content-between align-items-center my-auto mx-3">
  <div class="left my-auto d-flex mb-0 align-items-center  mt-2 mb-4">
    <i class="mx-2 my-auto fa-solid fa-address-book fs-5"></i>
    <h2 class=" mx-1 my-auto">Manage Contacts</h2>
  </div>
  <div class="rigth-btns mb-0 mt-2">
    <button class="btn mb-0 px-5 mx-1"><i class="fab fa-plus"></i> Add</button>
    <button class="btn mb-0 px-4 mx-1"><i class="fa-solid fa-file-export"></i> Export</button>
  </div>
</div>
<ul class="list-unstyled d-flex mt-1 mb-0 CLU mb-0 pb-0">
  <li class="mx-3">
    <a href="" class="p-2">
      <i class="fa-regular fa-address-book"></i>
      Contacts
    </a>
  </li>
  <li class="mx-3">
    <a href="" class="p-2">
      <i class="fa-solid fa-list-ul"></i>
      Lists
    </a>
  </li>
  <li class="mx-3">
    <a href="" class="p-2">
      <i class="fa-solid fa-calendar-xmark"></i>
      Unsubscribe
    </a>
  </li>
</ul>
<hr class="mt-2 mb-4" />
<div class="mx-2 d-flex justify-content-between align-items-center">
  <div class="w-25 ">
<div class="d-flex justify-content-between ">
    <p class="me-5 mb-0">Search</p>
    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
  </div>
  <div >
    <hr class="mt-0 pt-0">
  </div>
  </div>

  <div class="d-flex p-1 align-items-center">
    <p class="mb-0 mx-2">Show</p>
    <div class="d-flex justify-content-evenly bg-white align-items-center">
      <select class="select-option p-1 px-2 " name="list-size" id="list-size">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    </div>
    <p class="mb-0 mx-2">list</p>
  </div>
</div>

<div class="bg-white div-table">
  <table class="table  text-center lists-table">
    <thead class="table-head  ">
      <tr class="p-2 tr-lists">
        <td class="checkbox-index"><input type="checkbox" /></td>
        <th>Name</th>
        <th>Create At</th>
        <th>Total Contacts</th>
        <th class="option-index">option</th>
        <!-- <th>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-facebook"></i>
                    </th> -->
      </tr>

    </thead>
    <tbody class="bg-white">
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      

      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td><a href=""> <i class="fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
      <tr class="p-3 tr-lists">
        <td><input type="checkbox" /></td>
        <td>John Smith</td>
        <td>24 May 2023</td>
        <td>20,000</td>
        <td ><a href=""> <i class=" fa-regular fa-pen-to-square"></i></a> </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between mx-4 align-items-center">
    <div class=" mb-0 my-auto p-2"> <p>showing 1-30 of lists</p> </div>
    <div class="pagination  ">
      <a href="#">
        <i class="fa-thin fa-square-left">&laquo;</i></a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#"> <i class="fa-thin fa-square-right">&raquo;</i></a>
    </div>


  </div>

</div>
